<!doctype html>
<html lang="en">
<%- include('partials/head')%>
<body>
<%- include('partials/navbar')%>
<h1>The Home Page <%= 4 + 5 + 1%></h1>
<p><%= 'Hello World'.toLocaleUpperCase()%> </p>
<p>One</p>
<p>Two</p>
<%- include('partials/footer')%>
