<!doctype html>
<html lang="en">
<%- include('partials/head')%>
<body>
<%- include('partials/navbar')%>
<h1>Random number is: <%= rand %></h1>
<h2><%= rand % 2 === 0 ? 'Even' : 'Odd'%></h2>

<%- include('partials/footer')%>
