<%- include('partials/head') %>


<%- include('partials/navbar') %>

<h1>Your random number is: <%= num %></h1>
<h2>Your number is: <%= num % 2 === 0 ? 'Even' : 'Odd' %> </h2>
<%- include('partials/footer') %>
